.move-preview {
    background-color: #bab2b5;
    border: 1px solid #1a1110;
    margin-block-end: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    row-gap: 8px;
}

.move-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}